aiogram==3.13.1
fastapi==0.115.0
uvicorn==0.32.0
sqlalchemy==2.0.36
alembic==1.14.0
redis==5.2.0
kafka-python==2.0.2
celery==5.4.0
minio==7.2.10
prometheus-client==0.21.0
python-dotenv==1.0.1
aiohttp==3.10.10
